<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LINE Notify</title>
    <script src="https://static.line-scdn.net/liff/edge/versions/2.3.1/sdk.js""></script>
  </head>
  <body>

  </body>
  <script>
    liff
      .init({
        liffId: '{{ liff_id }}',
      })
      .then(() => {
        if (!liff.isLoggedIn()) liff.login();
        liff.getProfile().then((profile) => {
          const userId = profile.userId;
          fetch('/notify/link', {
            method: 'POST',
            body: JSON.stringify({state: userId}),
            headers: {
              'content-type': 'application/json'
            },
          })
          .then(res => {
            res.json().then(r => {window.location.href = r.link})
          })
        });
      })
      .catch((err) => {
        alert(err.code, err.message);
        alert(" 綁定異常，請聯絡作者 ");
      });
  </script>
</html>
